.div_phan_trang
{
    width:100%;
    text-align:center;
    height:50px;
}
.div_trang
{
    width:30px;
    padding:10px 10px 10px 10px;
    text-align:center;
    background: #a7a39d;
    margin:2px;

}
.div_trang a
{
    text-decoration:none;
}